{% extends "layout.html" %}

{% block body %}
<div class="col-md-4 col-md-offset-4">
    <h2>Recover password</h2>

    <p>Forgot your password? Click the link below to receive a link to recover your password.</p>

    {% if not_found %}
        <strong>Not found!</strong> We could not found any user with the given username.
    {% endif %}

    <form class="form" action= "/forgot" method="POST">
    	<input type="text" value="{{ username }}" name="username"/>
    	<input type="submit" class ="btn btn-defult"value="Send password reset link"/>
    </form>
</div>

{% endblock %}
