{% extends "layout.html" %}

{% block body %}
<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>

<!-- Navigation section -->



<div class="nav-container">
   <nav class="nav-inner transparent">

      <div class="navbar">
         <div class="container">
            <div class="row">

              <div class="brand">
                <a href="/">DropletB</a>
              </div>

              <div class="navicon">
                <div class="menu-container">

                  <div class="circle dark inline">
                    <i class="icon ion-navicon"></i>
                  </div>

                  <div class="list-menu">
                    <i class="icon ion-close-round close-iframe"></i>
                    <div class="intro-inner">
                      <ul id="nav-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Profile</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/nearby">Nearby</a></li>
                        
                      </ul>
                    </div>
                  </div>

                </div>
              </div>

            </div>
         </div>
      </div>

   </nav>
</div>

<!-- Header section -->

<section id="header" class="header-one">
<div class="container">
  <div class="row">

<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 outGlow">
    <div class="header-thumb">
        <h1 class="wow fadeIn" data-wow-delay="1.6s">DONATE BLOOD TODAY</h1>
        <h3 class="wow fadeInUp" data-wow-delay="1.9s">One donation can save up to three lives</h3>
    </div>
      </div>

  </div>
</div>
</section>
<!-- portfolio -->


<div class="container">
    <div class="row">
        <div class="col-md-4 portfolio-item" id="portfolio1">
            <img src="/images/blood1.jpg" height="171.8px" width="370px">
        </div>
        <div class="col-md-4 portfolio-item" id="portfolio2">
            <p>
               Each year, 4.5 million people die due to the lack of blood for transfustions. For each donation you can save up to 3 lives.
               About one pint is given in each donation.
            </p>
        </div>
        <div class="col-md-4 portfolio-item" id="portfolio3">
            <img src="/images/blood3.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 portfolio-item" id="portfolio4">
            <p>
               You can safely donate your whole blood every 8 weeks, plasma every 28 days, automated red cells every 16 weeks and platelets every 3 days up to 24 times each year.
            </p>
        </div>
        <div class="col-md-4 portfolio-item" id="portfolio5">
            <img src="/images/blood4.jpg">
        </div>
        <div class="col-md-4 portfolio-item" id="portfolio6">
            <p>
             Although an estimated 38 percent of the U.S. population is eligible to donate blood at any given time, 
             less than 10 percent of that eligible population actually do.
            </p>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>

</div>    
<!-- section -->

<!-- Footer section
================================================== -->
<footer style="height:200px;">
<div class="container">
  <div class="row">

      <div class="col-md-12 col-sm-12">
          <p class="wow fadeInUp animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Contact Us @:<a href="mailto:achoi1642@baysidehighschool.org?Subject=Neeed%20Assistance" target="_top">achoi1642@baysidehighschool.org</a> for Help</p>
          <p class="wow fadeInUp"  data-wow-delay="0.3s">Copyright © 2017 dropletB</p>
      </div>

  </div>
</div>
</footer>

<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>

{% endblock %}
